@font-face {
    font-family: Graphik;
    src: url(Resources/GraphikLight.otf);
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    overflow-x: hidden;
    font-family: 'Graphik', sans-serif;
}

#landingPage {
    width: 100%;
    height: 100vh;
    display: flex;
}

#landingPage img {
    position: absolute;
    top: 20vh;
    left: 10%;
    width: 40px;
    height: 40px;
}

#landingPage h1 {
    font-size: 35px;
    letter-spacing: 5px;
    line-height: 50px;
    padding: 35vh 10% 10vh 10%;
}

#landingPage .navMenu {
    width: 50%;
    padding: 20vh 0 0 0;
    background-color: #4c35e3;
}

#landingPage .navMenu ul {
    list-style: none;
    font-size: 30px;
    line-height: 50px;
}

#landingPage .navMenu ul a {
    padding: 4px;
    box-shadow: inset 0 0 0 0 #140096;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: rgb(0, 0, 0);
}

#landingPage .navMenu ul a:hover {
    color: white;
    box-shadow: inset 400px 0 0 0 #140096;
}

#landingPage .navMenu ul a:link,
a:visited {
    text-decoration: none;
}




#about {
    width: 100%;
    padding: 10vh 5% 0 5%;
    background-color: #FEE440;
}

#about h1 {
    font-size: 35px;
    letter-spacing: 5px;
    line-height: 50px;
    color: rgb(0, 0, 0);
    padding-left: 2%;
}

#about .content {
    width: 100%;
    display: flex;
    position: relative;
}

#about .content h2 {
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 28px;
    padding: 2% 6% 8% 6%;
    width: 50%;
}

#about .content img {
    position: absolute;
    height: 120%;
    bottom: 0;
    right: 10%;
}

#about .content a {
    color: rgb(0, 0, 0);
}










#transitionInfo {
    width: 100%;
    display: flex;
    padding: 12vh 13% 20vh 13%;
}

#transitionInfo .column {
    width: 50%;
}

#transitionInfo .item {
    margin-top: 10vh;

    font-size: 17px;
    letter-spacing: 3px;
    line-height: 23px;
    color: rgb(103, 103, 103);
    text-decoration: none;
}

#transitionInfo h2 {
    font-size: 20px;
    letter-spacing: 6px;
    color: rgb(141, 141, 141);
}

#transitionInfo a {
    padding: 4px;
    box-shadow: inset 0 0 0 0 #132931;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: rgb(74, 74, 74);
}

#transitionInfo a:hover {
    box-shadow: inset 400px 0 0 0 #132931;
    color: white;
}

#transitionInfo a:link,
a:visited {
    text-decoration: none;
}



.fade-in-bottom {
    opacity: 0;
    animation: fade-bottom 0.6s ease-in;
    animation-fill-mode: forwards;
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 0.4s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#projects {
    width: 100%;
    padding: 10% 5% 15% 5%;
}

#projects h1 {
    font-size: 35px;
    letter-spacing: 5px;
    line-height: 50px;
    color: rgb(103, 103, 103);
    padding-left: 2%;
}

#projects .columnContainer {
    display: flex;
}

#projects .column {
    width: 29%;
    margin: 0 0.5% 0 0.5%;
}

#projects .projectItem {
    position: relative;
    width: 100%;
    margin: 5% 0 5% 0;
    display: flex;
}

#projects .projectItem img {
    width: 100%;
    display: block;
}

#projects .projectItem .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    transition: .3s ease;
    opacity: 0;
    display: flex;
    align-items: center;

    color: white;
    font-size: 17px;
}

#projects .projectItem:hover .overlay {
    opacity: 1;
}

#projects .projectItem .overlay span {
    position: absolute;
    width: 80%;
    text-align: center;
    transition: .5s ease;
    padding: 0 10% 0 10%;
    transform: translateY(40px);
}

#projects .projectItem:hover .overlay span {
    transform: translateY(0px);
}

#projects .projectItem .overlay span h3 {
    line-height: 0;
    letter-spacing: 3px;
    font-size: 23px;
}



footer {
    width: 100%;
    text-align: center;
    padding: 30px 0 30px 0;
    letter-spacing: 2px;
}

/*responsive*/
@media screen and (max-width: 800px){
    #landingPage .navMenu {
        display: none;
    }

    #about .content h2 {
        width: 80%;
        margin-bottom: 10%;
    }

    #about .content img {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #transitionInfo {
        display: block;
    }

    #transitionInfo .item {
        margin-top: 50%;
    }

    #projects .columnContainer {
        display: block;
    }

    #projects .column {
        width: 90%;
    }

    #projects .projectItem {
        margin: 5% 0 5% 0;
    }
}